.header{
    padding: 20px;
    background: #cccccc;
    box-shadow: 0 0 10px #dddddd;
    margin-bottom: 40px;
}
.panel-title{
    font-size: 20px !important;
    font-weight: 700 !important;
}

.list-group-item strong{
    padding-right: 10px;
}
.mb30{
    margin-bottom: 30px;
}
.btnList{
    text-align: right;
    padding-top: 20px;
}
.btnList button{
        display: inline-block;
        border-radius: 50px;
        border: 1px solid #555353;
        background: #555353;
        color: #fff;
        padding: 5px 40px;
        transition: all .5s ease;
        position: relative;
        font-size: 16px;
}
.btnList button::after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 11px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
  }
  .btnList button::before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 16px;
    width: 15px;
    height: 2px;
    background: #fff;
    right: 10px;
  }
  .btnList button:hover{
    text-decoration: none;
    background: #fff;
    color: #555353;
  }
  .btnList button:hover:before{
    background: #555353;
  }
  .btnList button:hover:after{
    
        border-top-color: #555353;
      border-left-color: #555353;
      
  }
  button{
    outline-style: none !important;
    box-shadow: none !important;
  }